div{
	background: black;
	width: 120px;
}
ul{
	list-style-type: square;
	color: white;
}
h1{
	margin-left: 715px;
}
img{
	margin-left: 530px;
}
.one{
	margin-left: 650px;
}
div{
	margin-left: 750px;
}
.two{
	margin-left: 690px;
}